/** @define variables; */
:root {
   --top-height: 64px;
   --gutter: 10px;

   --text-color: white;
   --text-color-dark: #b1b1b1;

   --nav-text-color: #fafafa;
   --nav-text-color-focus: #eeeeee;

   --bg-main: #fafafa;
   /*--bg-main: #303030;*/
   /*--bg-main: #000;*/

   --side-width: 250px;

   --main-theme: #0288d1;

   --error: #ff442a;
   --accept: #00897b;
   --active-link: #f50057;
   --warning: #d2ab67;
}
