/* @import public partials */
@import 'partials/menu';
@import 'partials/app-wrapper';
@import 'partials/app-interaction';
@import 'partials/modal';

* {

   &::-webkit-scrollbar {
      width: 10px;

      &-thumb {
         background: #666;
      }

      &-track {
         background: #ddd;
      }
   }
}

.overlay {
   background: rgba(0, 0, 0, .4);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2000;
}

.indeterminate-loader {
   @extend %position-relative;
   height: var(--top-height);
   user-select: none;
   z-index: 11;

   &:before {
      content: '';
      position: absolute;
      background: rgba(162, 162, 166, 0.3);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
   }

   &:after {
      content: '';
      position: absolute;
      background: rgba(162, 162, 166, 0.3);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
   }
}

.swipe-refresh-loader {
   flex-grow: 1;
   @extend %align-row;
   @extend %align-items-center;
   @extend %justify-content-center;

   &__mover {
      fill: transparent;
      stroke: var(--accept);
      stroke-width: 5;
      animation: swipe-refresh 2s ease infinite, swipe-rotate 2s linear infinite;
   }
}

.expand-area-back-to-home-button {
   height: var(--top-height);
   @extend %align-row;
   align-items: center;
   justify-content: flex-start;
   padding-right: 32px;
}

input[type='text'],
input[type='username'],
input[type='email'],
input[name='username'],
input[type='number'],
input[type='password'] {
   width: 200px;
   font-size: 16px;

   &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px var(--bg-main) inset;
      -webkit-text-fill-color: var(--main-theme) !important;
   }

   &::placeholder {
      font: normal 18px 'sans';
      color: rgba(255, 255, 255, .7);
   }
}

input[type='submit'] {
   @extend %radius-100px;
   background: var(--accept);
   font: normal 18px 'sans';
   padding: 10px 30px;
   color: white;
   border: none;
   outline: none;

   &:active {
      box-shadow: 0 0 0 2px var(--accept) inset;
      background: white;
      color: var(--accept);
   }
}

.good-situation {
   color: var(--accept);
}

.bad-situation {
   color: var(--error);
}

.icon-left {
   margin-right: var(--gutter);
}

.icon-right {
   margin-left: var(--gutter);
}

.phone-number {
   display: inline-block;
   direction: ltr;
   text-align: right;
}


