/* @import pages */
@import 'contact/contact';
@import 'users/users-list';
@import 'transitions/transitions-list';
@import 'accounts/accounts-list';
@import 'tickets/tickets-list';
@import 'homepage/homepage';
@import 'notFound/notFound';
@import 'login/login';

.root-wrapper {
   height: 100%;
   overflow: hidden;
   background: #adadad;
}

.page-wrapper {
   height: 100%;
   @extend %align-row;
   /*@extend %align-items-center;*/
   @extend %justify-content-center;
   padding: 15px 0;
}
