/** @define app interaction; */
.app-interaction {
   @extend %position-relative;
   @extend %align-row;

   &__logout-button {
      margin-right: auto !important;
      transform: rotate(180deg);
   }
}
