/** @define app-wrapper; */
.app-wrapper {
   @extend %align-row;
   height: 100%;

   &__side {
      @extend %align-col;
      @extend %not-selective;
      width: var(--side-width);
      height: 100%;
      background: white;
      overflow-y: auto;

      &__top{
         @extend %align-col;
         align-items: flex-start;
         @extend %justify-content-center;
         height: var(--top-height);
         color: #303030;
         padding-right: 32px;
      }

      &__body{
         height: calc(100% - var(--top-height));
      }
   }

   &__main {
      @extend %align-col;
      flex-grow: 1;
      width: 100%;

      &__top {
         height: var(--top-height);
      }

      &__body {
         height: calc(100% - var(--top-height));
      }
   }
}
