/** @define modal; */
.modal-paper-content {
   @extend %position-c-c;

   &__wrapper {
      @extend %align-col;
      padding: 30px 50px;
      color: var(--text-color-dark);

      &--title {
         margin-bottom: 50px;
      }

      &--buttons {
         @extend %align-row;
         justify-content: space-evenly;
      }
   }
}
