/** @define transitions filter; */
.transitions-filter {
   @extend %align-row;

   &__grid {
      @extend %align-row;
      @extend %align-items-center;
      @extend %justify-content-center;
      height: 60px;
      overflow: hidden;
   }

   &__submit-wrapper {
      @extend %align-row;
      @extend %align-items-center;
      @extend %justify-content-center;
      margin-top: 50px;
   }
}
