/** @define login; */
.login {
   @extend %align-row;
   @extend %align-items-center;
   @extend %justify-content-center;
   height: 100%;
   z-index: 0;

   &__form {
      @extend %align-row;
      @extend %position-relative;
      @extend %radius-15px;
      height: 550px;
      box-shadow: 0 0 50px 5px rgba(0, 168, 239, .5);
      padding: 0 20px;

      .input-wrapper {
         @extend %align-col;
         @extend %align-items-center;
         @extend %justify-content-center;
         color: var(--main-theme);

         .welcome {
            margin-bottom: 25px;
            font-size: 23px;
         }

         .welcome-hint {
            margin-bottom: 75px;
            text-align: center;
            font-size: 13px;
         }

         input {

            &:focus {

               + div {

                  > button {

                     color: var(--main-theme) !important;
                  }
               }
            }
         }
      }
   }
}
